<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
        <property name="logPath">D:/WS_Logs</property>
        <property name="fileName">${date:YYYYMMdd}</property>
	</Properties>
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout charset="MS950" pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}: - %msg%n" />
		</Console>
		
		<RollingFile name="RollingFile" filename="${logPath}/${fileName}.log"
			filepattern="${logPath}/%d{YYYYMMdd}.log">
            <PatternLayout charset="UTF-8" pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}:- %msg%n" />
			<Policies>
                <TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>	
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		
	</Appenders>
	<Loggers>
        <Logger name="org.apache.jsp" level="info" additivity="false">
            <AppenderRef ref="RollingFile" />
        </Logger >
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
 